node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env*
yarn-error.log
.DS_Store

# Android
android/.gradle
android/.idea
android/local.properties
android/build
android/**/*.iml
android/app/build
android/gradle.properties
android/app/my-key.keystore

# iOS
ios/build
ios/pods/**/*
ios/hotncold.xcodeproj/xcuserdata/**/*
ios/hotncold.xcodeproj/xcshareddata/**/*
ios/hotncold.xcworkspace/xcuserdata/**/*
ios/hotncold.xcworkspace/xcshareddata/**/*

# Config
google-services.json
GoogleService-info.plist
