node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env*
yarn-error.log

# Android
android/.gradle
android/.idea
android/local.properties
android/build
android/**/*.iml
android/app/build
android/gradle.properties
android/app/my-key.keystore

# Config
google-services.json
